/* ------- Body */

body {
    font-family: 'Georgia', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
}

header {
    background-color: #ab3326;
    color: #fafafa;
    min-height: 120px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header .nav-link {
    color: #fafafa;
    font-size: 25px;
    font-family: Georgia, serif;
}

.navbar-brand {
    color: #fafafa;
}

.about-me {
    font-size: 50px;
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-this-page, .about-the-recipes {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.blog-image {
    width: 50%;
}

footer {
    background-color: #ab3326;
    color: #fafafa;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px;
}

.footer-section h2, .footer-section h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.name-input, .email-input {
    margin-bottom: 15px;
}

.name-input label, .email-input label {
    display: inline-block;
    width: 50px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}

.name-input input, .email-input input {
    width: calc(100% - 70px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #ab3326;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links li a i {
    font-size: 30px;
    color: #fafafa;
}

.social-links li a i:hover {
    color: #e84610;
}

.follow-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-us h4 {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}