/* ------- Colours */

/* ------- Body */

/* ------- Images */

/* -------- Heading/s */

.love-bites {
    text-transform: uppercase;
    border: #000000;
    border-style: solid;
    border-width: 4px;
    padding-top: 20px;
    padding-left: 60px;
}

/* -------- Special paddings/margins/text */

/* -------- Header */

header {
    background-color: #ab3326;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

/* -------- Footer */

footer {
    background-color: #ab3326;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
    text-align: right;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    padding: 12px 0;
    font-size: 24px;
    line-height: 7px;
    text-align: right;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #e84610;
}

#footer-details {
    padding: 20px;
}