body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f4f0;
    color: #333;
}

.hero {
    background: url('../images/hero.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eeeed7;
    position: relative;
}
/* 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
} */

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #c69c65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}

/*-------------------------- Navbar*/

.list-inline-item {
    margin: 0;
}

.menucontainer {
    font-size: 10px;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}
/*--
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #b30e0e;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #b30e0e;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
*/
/*---------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}
