
@import url('https://fonts.googleapis.com/css?family=Georgia&serif:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f4f0;
    color: #333;
}

/* Hero Image */
.hero {
    background: url('../images/hero.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eeeed7;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #c69c65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}

/* Navbar */
.ui-menu-color-home {
    background-color: #c69c65;
}

.ui-menu-color-recipe {
    background-color: #ab3326;
}

.ui-menu-color-blog {
    background-color: #c69c65;
}

.ui-menu-color-contact {
    background-color: #ab3326;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
    text-align: center;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
} 

/* Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
} 

.our-story,
.featured-recipe {
    text-align: center;
    padding-top: 150px;
    padding-right: 30px;
    padding-left: 30px;   
}

.circle-cover-bg {
    background: url('../images/recipe3.jpeg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    flex-direction: column;
    max-width: 400px;
    max-height: 400px;
}

.benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}


.stay-connected {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #ebe7e1;
}

.btn {
    padding: 10px 20px;
    background-color: #c69c6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}
.section {
    padding: 50px 20px;
    text-align: center;
}

/* footer */

footer{
    background-color: #ab3326;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', sans-serif;
}

.footer-content p {
    margin: 10px 0;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    font-size: 30px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

.icon:hover {
    color: #ffffff; 
    transition: 0.5ms;
}
