/* Header */

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ab3326;
}

.navbar-brand{
    color: #fff;
    font-size: 2rem !important;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-left: 4rem;
    height: 100%;
}

.nav-link {
    display: block; /* Make links fill the nav item container */
    padding: 0.5rem 1rem; /* Add padding for better spacing */
    font-size: 1rem;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    height: 100%;
    color: #ffffff;
}


nav .navbar-nav li a{
    color: #ffffff !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;    
    font-size: 1rem;
}

.nav-link:hover {
    color: #fff;
    background-color: #c69c65;
}



/* ----------------Recipe Card */
.recipe{
    margin-top: 20px;
    padding:20px ;
    background-color: #e2e2e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px 25px 0 0;
}



.course-title{
    display: flex;
    justify-content: center;
    color: #ab3326;
    font-size: 40px;
    font-weight: bolder;
    padding: 20px 0;
}

.recipe-container{
    display: flex;
    justify-content: center;
    color: #ab3326;
    font-size: 40px;
}

.card-wrapper{
    column-gap: 15px;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.recipe-card{
    cursor: pointer;
    border-radius: 25px;
}

.recipe-card:hover{
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title{
    display: flex;
    justify-content: center;
    margin: 0;
    color: #ab3326;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}

.card-body p{
    padding: 0;
    margin: 0;
    row-gap: 2px;
}

.colored-star{
    color: #ffd27d;
}


/* Responsive Design */
@media (max-width: 576px) {
    .nutrition-item {
        height: 80px; /* Increase height for smaller screens */
        padding: 15px;
    }

    .nutrition-box{
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar-brand {
        font-size: 1.25rem;
    }
    .nav-link {
        font-size: 0.875rem;
    }
    .offcanvas-body{
        background-color: #ab3326;
    }

    .offcanvas-title {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 1.5rem;
        font-weight: bold;
        color: #ab3326;
    }

    .menubars{
        font-weight: 900;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.5rem;
    }
}
/* footer */

footer{
    background-color: #ab3326;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', sans-serif;
}

.footer-content p {
    margin: 10px 0;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    font-size: 30px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
    color: #ffffff;
}

.icon:hover {
    color: rgb(0, 255, 255, 0.2);
    transition: 0.5ms;
}
