body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar Container */
.navbar {
    background-color: #ab3326;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container for Navbar Content */
.container {
    max-width: 1140px; 
    margin: 0 auto; 
    padding: 0 15px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

/* Brand Logo */
.navbar-logo {
    color: white;
    font-weight: bold; 
    text-decoration: none; 
    font-size: 2rem; 
}

/* Navigation Links */
.navbar-nav {
    list-style: none; 
    display: flex;
    flex-direction:row ;
    margin: 0; 
    padding: 0; 
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: white; /* White font color for links */
    font-weight: bold; /* Bold font for links */
    text-decoration: none; /* Remove underline */
    font-size: 1rem; /* Font size for links */
    padding: 8px 12px; /* Padding for links */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover Effect for Navigation Links */
.nav-link:hover {
    background-color: #555; /* Darker background on hover */
    color: #f0f0f0; /* Lighter font color on hover */
}


/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .navbar-nav {
        flex-direction: column; 
        width: 100%; 
        text-align: center; 
    }

    .nav-item {
        margin: 10px 0; 
    }
}