/* Global Styles */
body {
    margin: 0;
    font-family: 'Georgia', sans-serif;
    line-height: 1.6;
    color: #3f3f3f;
    background-color: #fdf3f3;
}

/* Header and Navigation */
header {
    background-color: #ab3326;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Courier New', sans-serif;
    margin: 0;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f0c0c0;
}

/* footer */

footer{
    background-color: #ab3326;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', sans-serif;
    margin-top: 20px;
}

.footer-content p {
    margin: 10px 0;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    font-size: 30px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

.icon:hover {
    color: #ffffff; 
    transition: 0.5ms;
}
